<div class="row col-12">
  <table *ngIf="data" class="table table-striped">
    <thead>
      <th class="btn-link" (click)="sortData('name')">Name</th>
      <th class="btn-link" (click)="sortData('category')">Category</th>
      <th class="btn-link" (click)="sortData('amount')">Amount</th>
    </thead>
    <tbody>
      <tr *ngFor="let record of data">
        <td>{{record.name}}</td>
        <td>{{record.category}}</td>
        <td>{{record.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>